<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>bup</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>your_facebook_app_id</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>your_google_client_id_for_apple(find it inside google services file)</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>facebook_id</string>
	<key>FacebookClientToken</key>
	<string>facebook_client_token</string>
	<key>FacebookDisplayName</key>
	<string>com.bup.finance</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app does not access or use Apple Music data.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app does not access or use Bluetooth data.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app does not access or use Bluetooth data.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos to share with other users</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock the app with FaceID</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This permission stems from a library we use and will never be called anyway. If you see this, deny access</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This permission stems from a library we use and will never be called anyway. If you see this, deny access</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This permission stems from a library we use and will never be called anyway. If you see this, deny access</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your microphone to record audio messages</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give $(PRODUCT_NAME) permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Upload photos to share with other users or to change your avatar</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your reminders</string>
	<key>NSSiriUsageDescription</key>
	<string>This app does not access or use Siri data.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app does not access or use speech recognition data.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>GeneralSans-Bold.otf</string>
		<string>GeneralSans-Light.otf</string>
		<string>GeneralSans-Medium.otf</string>
		<string>GeneralSans-Regular.otf</string>
		<string>GeneralSans-Semibold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
