<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294334576451-0pia0ce0sf6rh7j0s0s0aq8itl56re5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294334576451-0pia0ce0sf6rh7j0s0s0aq8itl56re5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>294334576451-0rqmduamhc4jjtsou5q0t6a9ibtavo9o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHOaPs2RtpjGUrUSyF1-rI414DMKQaHuE</string>
	<key>GCM_SENDER_ID</key>
	<string>294334576451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bup.finance</string>
	<key>PROJECT_ID</key>
	<string>b-up-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>b-up-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294334576451:ios:7bbf736f23d29d0460e1f6</string>
</dict>
</plist>